<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Order deleted</title>
</head>
<body>
	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>已刪除的訂單</title>
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
		<style>	
	    </style>
	</head>
	<body>
	<div align="center">
	    <h2>刪除的訂單</h2>
	    <br>
	    <table id="table_id" class="display" style="width:100%">
	        <thead>
	        <tr style="background-color:#8E8E8E">
	            <th>訂單編號</th>
	            <th>顧客姓名</th>
	            <th>電話</th>
	            <th>產品</th>
	            <th>數量</th>
	            <th>價格</th>
	            <th>外送員工</th>
	            <th>外送地址</th>
	            <th>外送時間</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr th:each="delivery : ${delivery}">
	            <td id="did" th:text="${delivery.id}"></td>
	            <td id="dcname" th:text="${delivery.cname}"></td>
	            <td id="dphone" th:text="${delivery.phone}"></td>
	            <td id="dproduct" th:text="${delivery.product}"></td>
	            <td id="dnum"   th:text="${delivery.num}"></td>
	            <td id="dprice" th:text="${delivery.price}"></td>
	            <td id="dename"  th:text="${delivery.ename}"></td>
	            <td id="daddress" th:text="${delivery.address}"></td>
	            <td id="dtime"    th:text="${delivery.time} + '分鐘'"></td>
	        </tr>
	        </tbody>
	    </table>
	</div>
	<button id="history" class="btn btn-secondary mt-4">外送訂單</button>
<script>
	  $(document).ready(function() {
        $('#table_id').DataTable();
    });
	
	$('#history').click(function(){
	            let historyURL = "/delivery/findTall";
			    window.location.href = historyURL;
	       });
</script>

</body>
</html>